<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635036772880-oejagvggghe26d7krvoircb61pck1qle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635036772880-oejagvggghe26d7krvoircb61pck1qle</string>
	<key>API_KEY</key>
	<string>AIzaSyAzZbGxDi0c62nhufpXcy70_Y8xeggZ9bY</string>
	<key>GCM_SENDER_ID</key>
	<string>635036772880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-c692e</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-c692e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635036772880:ios:a6782344b51ae02ba43895</string>
</dict>
</plist>